html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    /* background-image: url("/public/images/gaming-pattern.png"); */
}

.jumbotron {
    /* background-image: url("/public/images/game-controllers.png"); */
}